.result{
    width: 100%;
    display: block;
    color: #000;
    padding: 15px;
    border-radius: 8px;
}

.red{
    color: white;
    background-color: red;
}

.moderate{
    color: white;
    background-color: rgb(245, 131, 131);
}

.light{
    background-color: rgb(241, 200, 200);
}

.normal{
    color: var(--text-color);
    background-color: green;
}